@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin:0;
    padding:0;
}
.sidebar{
    background-color: red;
    width:20vw
}
.main{
    background-color: rgb(221, 255, 0);
    width:80vw
}
.container{
    display:fleX;
}